-if publisher_explain
  :javascript
    $(document).ready(function() {
        if( app.publisher ) app.publisher.triggerGettingStarted();
      });

.row.publisher#publisher{class: ((aspect == :profile || publisher_open) ? "mention_popup" : "closed")}
  .content_creation
    = form_for(StatusMessage.new) do |status|
      = status.error_messages
      %params
        .publisher-textarea-wrapper#publisher_textarea_wrapper
          .mentions-input-box
            .mentions-box
              .mentions
            - if current_user.getting_started?
              = status.text_area :fake_text, :rows => 2, :value => h(publisher_formatted_text),
                :tabindex => 1, :placeholder => "#{t('contacts.index.start_a_conversation')}...",
                "data-title" => popover_with_close_html("1. " + t("shared.public_explain.share")),
                "data-content" => t("shared.public_explain.new_user_welcome_message"),
                "class" => "form-control"
            - else
              = status.text_area :fake_text, :rows => 2, :value => h(publisher_formatted_text),
                :tabindex => 1, :placeholder => "#{t('contacts.index.start_a_conversation')}...",
                "class" => "form-control"
            %input.typeahead-mention-box.hidden{type: "text"}
          = status.hidden_field :text, value: h(publisher_hidden_text), class: "clear_on_submit"

          .container-fluid.photodropzone-container#photodropzone_container
            %ul#photodropzone
          .location-container.form-group{style: "padding: 4px 6px;"}
            = hidden_field :location, :coords
          .poll-creator-container#poll_creator_container
            -# handlebars template
          #button_container
            .publisher-buttonbar#publisher-images
              .btn.btn-link.poll-creator#poll_creator{title: t("shared.publisher.poll.add_a_poll")}
                %i.entypo-bar-graph
              .btn.btn-link.file-upload#file-upload{title: t("shared.publisher.upload_photos")}
                %i.entypo-camera.publisher_image
              = button_tag "", :id=> 'owncloud-upload', :type => 'button'
              .btn.btn-link.locator#locator{title: t("shared.publisher.get_location")}
                %i.entypo-location.publisher_image
              .btn.btn-link.hide-location#hide_location{title: t("shared.publisher.remove_location")}
                %i.entypo-cross.publisher_image
            %span.markdownIndications
              != t("shared.publisher.formatWithMarkdown", markdown_link: link_to(t("help.markdown"),
                  "https://diasporafoundation.org/formatting", target: :blank))
          #jstree-container

      - if publisher_public
        = hidden_field_tag "aspect_ids[]", "public"
      - elsif all_aspects_selected?(selected_aspects)
        = hidden_field_tag "aspect_ids[]", "all_aspects"
      - else
        - for aspect_id in aspect_ids
          = hidden_field_tag "aspect_ids[]", aspect_id.to_s

      .hidden#publisher_spinner
        .loader
          .spinner
      .options_and_submit.col-sm-12
        .public_toggle.clearfix
          .btn-toolbar.pull-right
            = render partial: "publisher/aspect_dropdown", locals: {selected_aspects: selected_aspects}
            %button.btn.btn-group.btn-primary#submit= t("shared.publisher.share")

          .btn-toolbar.pull-right#publisher-service-icons
            - if current_user.services
              - current_user.services.each do |service|
                = service_button(service)
            .btn.btn-link.question_mark{title: t("shared.public_explain.manage"),
                           data: {toggle: "modal", target: "#publicExplainModal"}}
              %i.entypo-cog

    = link_to "", contacts_path(aspect_ids: aspect_ids), class: "selected_contacts_link hidden"

= render "shared/public_explain"
