-# Copyright (c) 2010-2011, Diaspora Inc. This file is
-# licensed under the Affero General Public License version 3 or later. See
-# the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head{:prefix => og_prefix}
    %title
      = pod_name

    %meta{:name => "description", :content => "diaspora* mobile"}/
    %meta{:name => "author", :content => "Diaspora, Inc."}/
    %meta{:charset => 'utf-8'}/

    / Viewport scale
    %meta{:name =>'viewport', :content => "width=device-width, minimum-scale=1 maximum-scale=1"}/
    %meta{:name => "HandheldFriendly", :content => "True"}/
    %meta{:name => "MobileOptimized", :content => "320"}/
    / Force cleartype on WP7
    %meta{'http-equiv' => "cleartype", :content => 'on'}/

    / Home screen icon (sized for retina displays)
    %link{rel: "apple-touch-icon", href: image_path("apple-touch-icon.png")}
    / For Nokia devices
    %link{rel: "shortcut icon", href: image_path("apple-touch-icon.png")}
    / For desktop
    %link{rel:  'shortcut icon', href:  image_path("favicon.png")}

    / iOS mobile web app indicator
    / NOTE(we will enable these once we don't have to rely on back/forward buttons anymore)
    /%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    /%link{:rel => "apple-touch-startup-image", :href => "/images/apple-splash.png"}

    = render 'layouts/open_graph'

    = chartbeat_head_block

    / Stylesheets

    = include_color_theme "mobile"
    = yield(:custom_css)

    = stylesheet_link_tag :diaspora_owncloud, media:  'all'

    = stylesheet_link_tag :jstree_style, media:  'all'

    = csrf_meta_tag

    - if rtl?
      = stylesheet_link_tag :rtl, :media => 'all'

    - if Rails.env.test?
      = stylesheet_link_tag :poltergeist_disable_transition, media: "all"

    = yield(:head)

    = include_gon(:camel_case => true)
  %body
    #app
      = render "layouts/diaspora_owncloud/header"
      - if user_signed_in?
        = render "layouts/drawer"

      #main{:role => "main"}
        - if current_page?(:activity_stream)
          %h3
            = t('streams.activity.title')
        = yield

    / javascripts at the bottom
    = jquery_include_tag
    = javascript_include_tag "diaspora_owncloud_mobile/mobile"
    = load_javascript_locales
    = include_chartbeat
