-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- if user_signed_in? && @person != current_user.person
  %h3.stream-title
    = stream.title

.container-fluid.main-stream-publisher
  .pull-left.hidden-xs
    = owner_image_link
  = render "diaspora_owncloud_publisher/publisher", publisher_aspects_for(stream)

- if current_user.getting_started?
  .stream#main_stream{:title => popover_with_close_html("3. #{t('.stay_updated')}"),
    "data-content" => t(".stay_updated_explanation")}
- else
  .stream#main_stream

#paginate
  %span.loader.hidden
    .spinner

- if current_user.contacts.size < 2
  = render 'aspects/no_contacts_message'
