
.owncloud-intro{
    border-radius: 4px;
    border: #00558f strong 2px;
    background-color: #00558f;
    padding: 10px;
    float: left;
}

.owncloud-link{
    background: url("owncloud.PNG") center center no-repeat;
    height:2px;
    margin-top:10px;
    cursor:pointer;
    border: none;
}

#owncloud-upload{
    background: url("owncloud_grey.png") center center no-repeat;
    width:30px;
    height:15px;
    margin-top:2px;
    cursor:pointer;
    border: none;
}

.owncloud-upload-mobile{
    background: url("owncloud_grey.png") center center no-repeat;
    padding: 10px 20px;
    width: 30px;
    height: 35px;
    margin-top:10px;
    cursor:pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0px;
    margin-left:10px;
}

#owncloud-upload:focus {
  outline: none;
}

#owncloud-upload:active  /* use Dot here */
{   
    background: url("owncloud_grey.png") center center no-repeat;
    cursor:pointer;
    border:none;
}

.facebook-aspect{
    color: #00558f !important;
}