-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#main_stream.stream
  = render 'diaspora_owncloud_shared/stream', posts: @stream.stream_posts
  = render 'diaspora_owncloud_shared/stream_more_button'
